* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.el {
  text-align: center;
  padding: 1rem;
  width: 600px;
  height: 100px;
  margin: 2rem auto;
  background-color: lightgray;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  position: relative;
  border-left: 10px solid orangered;
  border-right: 10px solid purple;
}
.el::first-letter {
  color: red;
}
.el::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 590px;
  height: 10px;
  background-image: linear-gradient(
    to right,
    orangered 20%,
    lightblue 20%,
    lightblue 40%,
    green 40%,
    green 60%,
    red 60%,
    red 80%,
    purple 80%
  );
}
.el::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 590px;
  height: 10px;
  background-image: linear-gradient(
    to right,
    orangered 20%,
    lightblue 20%,
    lightblue 40%,
    green 40%,
    green 60%,
    red 60%,
    red 80%,
    purple 80%
  );
}
/* 2nd assignement */
.three{
    width: 600px;
    height: 100px;
    margin: 2rem auto;
    background-color: lightgray;
    font-size: 2rem;
    padding: 1rem;
    caret-color: red;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.three:focus{
    color: black;
    outline: none; /* always combine the :focus with outline  */
}
.three::after{
    content: "";
    position: absolute;
    width: 600px;
    height: 5px;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, orangered 50%, rgb(0, 255, 191) 50%);
}

