* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  height: 50px;
  width: 50px;
  margin: 2rem auto;
  border-radius: 50%;
  border: solid 5px red;
  border-right-color: transparent;
  position: relative;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.first::before {
  content: "";
  width: 130%;
  height: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  border: solid 5px blue;
  border-top-color: transparent;
  /* animation-name: spin; */
}
.first::after {
  content: "";
  width: 160%;
  height: 160%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  border: solid 5px orange;
  border-bottom-color: transparent;
  /* animation-name: spin; */
}
.first:hover {
  animation-play-state: paused;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 2nd assignement */
.one {
  width: 100px;
  height: 100px;
  margin: 4rem auto;
  border-radius: 50%;
  border: 5px solid blue;
  border-bottom-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotate;
  animation-duration: 3s;
}
.two {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgb(226, 237, 16);
  border-bottom-color: transparent;
  animation-name: rotate;
  animation-duration: 2s;
}
.three {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  border-bottom-color: transparent;
  animation-name: rotate;
  animation-duration: 1s;
}
.one,
.two,
.three {
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-iteration-count: infinite;
}
.one:hover {
  animation-play-state: running;
}
.two:hover {
  animation-play-state: running;
}
.three:hover {
  animation-play-state: running;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* 3rd assignement */
.third {
  width: 50px;
  height: 50px;
  margin: 2rem auto;
  border-radius: 50%;
  border: solid 5px;
  border-left-color: transparent;
  background-color: lightgray;
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes load {
  to {
    transform: rotate(-360deg);
  }
}
/* challenge */
.cont {
  width: 300px;
  height: 230px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 10% 30% 5% 10% 30% auto;
  grid-template-rows: 12% 30% 12% 30% 12% auto;
  position: relative;
}
.yan {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  background-color: black;
}
.sin {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: black;
}
.krad {
  grid-column: 3 / 4;
  grid-row: 1 / 6;
}
.koz {
  background-color: black;
  grid-column: 4 / 5;
  grid-row: 1 / 6;
}
.smos {
  grid-column: 5 / 6;
  grid-row: 1 / 5;
}
.zdis {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.sa {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: black;
}
.tam {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.tza {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background-color: black;
}
.mraw {
  grid-column: 4 / 6;
  grid-row: 5 / 6;
  background-color: black;
}
.eblock,
.lblock {
  width: 15px;
  height: 15px;
  background-color: orange;
  position: absolute;
}
.eblock {
  top: 7px;
  left: 100px;
  animation-name: eblock;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.lblock {
  top: 7px;
  left: 142px;
  animation-name: lblock;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes eblock {
  0% {
    top: 7px;
    left: 100px;
  }
  10% {
    top: 7px;
    left: 8px;
  }
  20% {
    left: 7px;
    top: 103px;
  }
  30% {
    top: 103px;
    left: 103px;
  }
  40% {
    top: 103px;
    left: 7px;
  }
  50% {
    left: 7px;
    top: 200px;
  }
  60% {
    top: 200px;
    left: 103px;
  }
  70% {
    top: 200px;
    left: 7px;
  }
  80% {
    top: 7px;
    left: 7px;
  }
  100% {
    top: 7px;
    left: 100px;
  }
}
@keyframes lblock {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0;
    visibility: hidden;
  }
  30% {
    visibility: hidden;
    top: 7px;
    left: 142px;
  }
  40% {
    visibility: hidden;
    opacity: 1;
    top: 200px;
    left: 230px;
  }
  50% {
    opacity: 1;
    top: 200px;
    left: 230px;
  }
  60% {
    opacity: 1;
    top: 200px;
    left: 142px;
  }
  70% {
    top: 7px;
    left: 142px;
    opacity: 1;
  }
80%{
    opacity: .5;
}
  100%{
    opacity: 0;
  }
}
