body{
   position: relative;
}
div{
    width: 100px;
    height: 100px;
}
.green{
    background-color: green;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
.red{
    background-color: red;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
}
.blue{
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
}
.black{
    background-color: black;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 110px;
}
/*  use z-index with values to 100000 just remember the elements with higher z-index gonna be on the top of an element with lower z-index */