* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.elzero::before {
  content: "";
  position: absolute;
  background-color: rgb(33, 154, 195);
  width: 300px;
  height: 200px;
  transform: rotate(-8deg);
  z-index: -1;
}
.elzero::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 300px;
  height: 200px;
  transform: rotate(8deg);
  z-index: -1;
}
.elzero {
  width: 300px;
  height: 200px;
  margin: 2rem auto;
  background-color: lightgray;
  font-size: 2.5rem;
  color: rgb(33, 154, 195);
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* assignement 2 */
.elzer {
  width: 300px;
  height: 300px;
  margin: 5rem auto;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;

  
}
.elzer::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-width: 15px;
  border-color: red red red transparent;
 transition: transform .5s ease-in;
}
.elzer::after {
  content: "";
  position: absolute;
  width: 331px;
  height: 331px;
  border-radius: 50%;
  border-style: solid;
  border-width: 15px;
  border-color: blue transparent blue blue;
}
.elzer:hover .elzer::before{
  transform: rotate(360deg) ;
}
