*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 2rem auto;
}
img{
    width: 8rem;
    height: 6rem;
}
h1{
    text-align: center;
    padding: 2rem 2rem 3rem 2rem;
}
table{
    text-align: center;
    font-size: 1.4rem;
 
}
th{
    color: #EEE;
    background-color: #222;
    padding: 2rem;
    font-size: 1.5rem;
}
td{
    background-color: lightgray;
    padding: 2rem;
}
.blue{
    background-color: blue;
    color: #EEE;
    padding: 7px 10px;
}
.red{
    background-color: red;
    color: #EEE;
    padding: 7px 10px;
}