* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all {
  width: 800px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5rem auto;
  background-color: black;
  padding: 1rem 1rem 0 0;
  display: flow-root;
}
p {
  background-color: rgb(16, 122, 228);
  float: left;
  padding: 15px 0;
  text-align: center;
  margin-left: 2%;
  margin-bottom: 2%;
}
.full {
  width: 98%;
}
.one {
  width: calc(100% / 3 - 2%);
}
.two {
  width: calc(50% - 2%);
}
.four {
  width: calc(25% - 2%);
}
/* this assignement took me two days to get the solution, but I did it anyway ! */
