* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  background-color: lightgray;
  font-size: 1.5rem;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  width: 600px;
  border-left: 10px solid rgb(244, 48, 80);
}
p::before {
  content: attr(data-person);
  background-color: lightgray;
  position: absolute;
  left: -130px;
  width: 4rem;
  padding: 0.5rem 1rem;
  top: 0.5rem;
  text-align: center;
}
p::after {
  content: "";
  position: absolute;
  left: -45px;
  top: 12px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent rgb(244, 48, 80) transparent transparent;
}
