* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 1200px;
  margin: 2rem auto;
  background-color: lightgray;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 10px;
}
.container div {
  overflow: hidden;
  position: relative;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: orangered;
  word-break: break-all;
  padding: 20px;
}
h2 {
  font-size: 1.2rem;
}
h4 {
  color: gray;
  padding-bottom: 1rem;
}
.bold {
  font-weight: bold;
  padding-bottom: 1rem;
}
.container__order1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #eee;
}
.container__order2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: #eee;
}
.container__order3 {
  grid-column: 4 / 5;
  grid-row: 1 / 7;
  background-color: black;
  color: #eee;
}
.container__order4 {
  grid-column: 1 / 2;
  grid-row: 3 / 7;
  background-color: #eee;
}
.container__order5 {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  background-color: black;
  color: #eee;
}
.container__order6 {
  grid-column: 2 / 4;
  grid-row: 5 / 7;
  background-color: #eee;
}
.container__order7 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  background-color: #eee;
}
.container__order8 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  background-color: black;
  color: #eee;
}
.container__order9 {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  background-color: #eee;
}
.container__order10 {
  grid-column: 4 / 5;
  grid-row: 7 / 8;
  background-color: #eee;
}
